/* background color */
$bg1: #f5f5f5;
$bg2: #fff;
$bg3: #f44;
$bg4: #ebebeb;
$bg5: #3296fa;
$bg6: #eee; // active背景颜色
$bg7: #ff6464; // 迟到背景色
$bg8: #ffb14d; // 早退背景色
$bg9: #a9a9a9; // 早退背景色
$bg10: #2776bf;

/* placeholder colors */
$phc1: #333;
$phc2: #888;

/* shadow */
$shadowc1: #ebebeb;

/* p && text */
$textc1: #000;
$textc2: #fff;
$textc3: #789dc2; //全局组件事项汇总标题
$textc4: #0c2e59; //首页模块组文字颜色
$textc5: #333; //标题颜色
$textc6: #787878; //文字轮播组件内容文字颜色 默认字体颜色
$textc7: #7f8891;
$textc8: #f44;
$textc9: #2776bf;
$textc10: #1e1e1e;
$textc11: #7e7e7e;
$textc12: #6d6f7c;
$textc13: #3296fa;

/* link && a && text */
$linkc1: #888;

/* line bg color */
$linec1: #eaeaea;

/* 临时信息 */
$primary: #3398db!default;
$bgColor: #6f9ec6;
$iconColor:#1f77ae;
$white: white;
$smallFont: 12px;
$padding_left: 10px;
$padding_right: 10px;
$padding_top: 10px;
$padding_bottom: 10px;